extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi
include ../../mixins/alert.pug
include ../../mixins/sort.pug
block main
    if (role.permissions.includes("products_view"))
        +alert-error("5000")
        +alert-success("5000")
        h1 Danh sách sản phẩm

        .card.mb-3 
            .card-header Bộ lọc tìm kiếm 
            .card-body 
            .row
                .col-6
                    +filterStatus(filterStatus)
                .col-6
                    +searchKeyword(keyword)
        .card.mb-3
            .row 
                .col-2 
                    +sort()
        .card.mb-3 
            .card-header Danh sách 
                .card-bodyz
                    .row 
                        .col-8 
                            +formChangeMulti(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                        .col-4.text-end
                            if (role.permissions.includes("products_create"))
                                a(
                                    href= `${prefixAdmin}/products/create`
                                    class= "btn btn-outline-success"
                                ) + Thêm mới
                    table(class= "table table-hover table-sm" checkbox-multi)
                        thead 
                            tr
                                th 
                                    input(type= "checkbox" name= "check-all")
                                th STT 
                                th Hình ảnh 
                                th Tiêu đề
                                th Giá
                                th Vị trí
                                th Trạng thái
                                th Người tạo
                                th Người cập nhật
                                if (role.permissions.includes("products_edit") || role.permissions.includes("products_delete") ) 
                                    th Hành động
                        tbody
                            each item, index in products
                                tr
                                    td
                                        input(type="checkbox" name= "check-item" value=item.id)
                                    td #{pagination.limitItem * (pagination.currentPage - 1) + (index + 1)}
                                    td
                                        img(
                                            src= item.thumbnail 
                                            alt= item.tile
                                            width= "100px"
                                            height= "auto"
                                        )
                                    td #{item.title}
                                    td #{item.price}$
                                    td
                                        input(type="number" value=item.position style="width: 60px" min="1" name="position")
                                    td 
                                        if (role.permissions.includes("products_edit"))
                                            if (item.status == "active")
                                                a(href="javascript:;" class= "btn btn-success" button-change-status item-id= item.id item-status= item.status) Hoạt động
                                            else
                                                a(href="javascript:;" class= "btn btn-danger" button-change-status item-id = item.id item-status= item.status) Dừng hoạt động
                                        else 
                                            if (item.status == "active")
                                                span(class= "btn btn-success") Hoạt động
                                            else
                                                span(class= "btn btn-danger") Dừng hoạt động
                                    td
                                        if (item.createdBy.fullName)
                                            p #{item.createdBy.fullName}
                                            p #{moment(item.createdBy.createdAt).format("DD/MM/YYYY hh:mm:ss")}
                                    td 
                                        - const updatedBy = item.updatedBy.slice(-1)[0];
                                        if (updatedBy)
                                            p #{updatedBy.fullName}
                                            p #{moment(updatedBy.updatedAt).format("DD/MM/YYYY hh:mm:ss")}
                                    td 
                                        if (role.permissions.includes("products_edit"))
                                            a(href=`${prefixAdmin}/products/edit/${item.id}` class= "btn btn-warning btn-sm") Sửa
                                        if (role.permissions.includes("products_delete"))
                                            button(class= "btn btn-danger btn-sm ms-1" data-id=item.id delete-item-button) Xóa
        +pagination(pagination)
        if (role.permissions.includes("products_edit"))
            form(action="", method="POST" id= "form-change-status" data-path= `${prefixAdmin}/products/change-status`) 
        if (role.permissions.includes("products_delete"))
            form(action="", method="POST" id= "form-delete-item" data-path= `${prefixAdmin}/products/delete`)
                

